parameters:
    level: 8
    paths:
        - src
    parallel:
        jobSize: 50
        maximumNumberOfProcesses: 4
    universalObjectCratesClasses:
        - Platine\Orm\Entity
    ignoreErrors:
        - '#Call to an undefined method Platine\\Database\\Query\\Where\|Platine\\Database\\Query\\WhereStatement(.*)#'
        - '#Call to an undefined method Platine\\Database\\Query\\WhereStatement(.*)#'
        - '#(.*)Tag has an unused parameter \$parser(.*)#'
        - '#(.*)Tag has an unused parameter \$tokens(.*)#'
        - '#Parameter \#1 \$entityClass of method Platine\\Orm\\Relation\\RelationFactory(.*)#'
        - '#Parameter \#2 \$entity of method Platine\\Orm\\Mapper\\DataMapperInterface(.*)#'