{% extends "main" %}
{% block body %}
    <div class="card mb-4">
        <div class="card-header bg-white font-weight-bold page-header">
           Detail of role [{{ role.name }}]
        </div>
        <div class="card-body">
            <p class="text-right">
                <a href = '{% route_url role_create  %}' class = 'btn btn-sm btn-success'><i class="fa fa-plus-circle"></i> Create Role</a>
                <a href = '{% route_url role_list  %}' class = 'btn btn-sm btn-secondary'><i class="fa fa-users"></i> Role List</a>
            </p>
            {% if role.permissions.size > 0 %}
                <div class="row">
                    <div class="col-md-4">
                        {% for permission in role.permissions %}
                            {% set i=forloop.index|modulo:2 %}
                            <ul class="list-group"><li class = "list-group-item">{{ permission.description }}</li></ul>
                            {% if i == 0 %}
                                </div><div class="col-md-4">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p class="alert alert-info">No available roles</p>
            {% endif %}
            <br />
            <div>
                <a href = '{% route_url role_edit id:role.id  %}?from_detail=1' class = 'btn btn-sm btn-info'><i class="fa fa-edit"></i> Edit</a>
                <a href = '{% route_url role_list  %}' class = 'btn btn-sm btn-secondary'><i class="fa fa-users"></i> Role List</a>                        
            </div>
        </div>
    </div>
{% endblock %}