{% extends "main" %}
{% block body %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-white font-weight-bold">
                  Modification of Role
                </div>
                <div class="card-body">
                    <form action = '{% current_url %}' method='post'>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="name" class = "col-md-3 col-form-label">Name: <span class="required">*</span></label>
                                    <div class="col-md-9">
                                      <input type= 'text' name = 'name' value = '{{ param.name }}' required="true" placeholder="Enter the name" class="form-control form-control-sm" />
                                      <span class="ferror">{{ errors.name }}</span>
                                      </div>
                                </div>

                                <div class="form-group row">
                                  <label for="description" class = "col-md-3 col-form-label">Description: </label>
                                  <div class="col-md-9">
                                    <textarea name = 'description' placeholder="Enter the description" class="form-control form-control-sm">{{ param.description }}</textarea>
                                    <span class="ferror">{{ errors.description }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="roles">Permissions: </label>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% for permission in permissions %}
                                            {% set i=forloop.index|modulo:2 %}
                                            <ul class="list-group"><li class = "list-group-item"> <input {% if param.permissions contains permission.id %}checked{% endif %} name = "permissions[]" data-depend = "{{ permission.depend }}" id = "{{ permission.code }}" value ="{{ permission.id }}" type="checkbox" class = "role-permission list-action"/> {{ permission.description }}</li></ul>
                                            {% if i == 0 %}
                                                </div><div class="col-md-4">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="offset-1 col pr-2">
                                <button type = "submit" class="btn btn-primary">Valide</button>
                                <a href = '{% route_url role_list  %}' class = 'btn btn-dark'>Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}