<h3>Creation of user</h3>
<form action = '' method='post'>
    <div>
        <label>Username:</label>
        <input type= 'text' name = 'username' value = '{{ param.username }}' /><br />
        <p style="color: red;">{{ errors.username }}</p>
    </div>
    <div>
        <label>Last Name:</label>
        <input type= 'text' name = 'lastname' value = '{{ param.lastname }}' /><br />
        <p style="color: red;">{{ errors.lastname }}</p>
    </div>
    <div>
        <label>First Name:</label>
        <input type= 'text' name = 'firstname' value = '{{ param.firstname }}' /><br />
        <p style="color: red;">{{ errors.firstname }}</p>
    </div>
    <div>
        <label>Password:</label>
        <input type= 'password' name = 'password' value = '' /><br />
        <p style="color: red;">{{ errors.password }}</p>
    </div>
    <div>
        <label>Age:</label>
        <input type= 'number' name = 'age' value = '{{ param.age }}' /><br />
        <p style="color: red;">{{ errors.age }}</p>
    </div>
    <div>
        <input type= 'submit' name = 'submit' value = 'Create' />
    </div>
</form>