<h3>User Information</h3>
<table border = '1' cellpadding = '3' cellspacing = '0'>
    <tr>
        <td>ID</td>
        <td>{{ user.id }}</td>
     </tr>
     <tr>
        <td>Login</td>
        <td>{{ user.username }}</td>
     </tr>
     <tr>
        <td>Lastname</td>
        <td>{{ user.lastname }}</td>
     </tr>
     <tr>
        <td>Firstname</td>
        <td>{{ user.firstname }}</td>
     </tr>
     <tr>
        <td>E-mail</td>
        <td>{{ user.email }}</td>
     </tr>
     <tr>
        <td>Age</td>
        <td>{{ user.age }}</td>
     </tr>
     <tr>
        <td>Status</td>
        <td>{% if user.status == 1 %}Enable{% else %}Disable{% endif %}</td>
     </tr>
     <tr>
        <td>Create at</td>
        <td>{{ user.created_at|date:"d/m/Y" }}</td>
     </tr>
</table>

<h3>User Roles</h3>
{% if user.roles.size > 0 %}
    <div class= "table-responsive">
        <table border = '1' cellpadding = '3' cellspacing = '0'>
            <thead>
                <tr>
                    <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Create Date</th>
                </tr>
                </tr>
            </thead>
            <tbody>
                {% for role in user.roles %}
                    <tr>
                        <td>{{ role.id }}</td>
                        <td>{{ role.name }}</td>
                        <td>{{ role.created_at|date:"d/m/Y" }}</td>
                    </tr>
                 {% endfor %}
            </tbody>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Create Date</th>
                </tr>
            </thead>
        </table>
    </div>
{% else %}
    <p class="alert alert-info">No available roles</p>
{% endif %}
<br />
<a href = '{% route_url user_list %}'>Back to the list</a>