<h3>User Information</h3>
<table border = '1' cellpadding = '3' cellspacing = '0'>
    <tr>
        <td>ID</td>
        <td>{{ user.user_id }}</td>
     </tr>
     <tr>
        <td>Login</td>
        <td>{{ user.username }}</td>
     </tr>
     <tr>
        <td>Lastname</td>
        <td>{{ user.lname }}</td>
     </tr>
     <tr>
        <td>Firstname</td>
        <td>{{ user.fname }}</td>
     </tr>
     <tr>
        <td>Age</td>
        <td>{{ user.age }}</td>
     </tr>
     <tr>
        <td>Status</td>
        <td>{% if user.status == 1 %}Enable{% else %}Disable{% endif %}</td>
     </tr>
     <tr>
        <td>Create at</td>
        <td>{{ user.created_at|date:"d/m/Y" }}</td>
     </tr>
</table>

<br />
<a href = '{% rurl user_list %}'>Back to the list</a>