{% extends "main" %}
{% block body %}
    <div class="card mb-4">
        <div class="card-header bg-white font-weight-bold page-header">
            User Information
        </div>
        <div class="card-body">
            <p class="text-right">
                <a href = '{% route_url user_create  %}' class = 'btn btn-sm btn-success'><i class="fa fa-plus-circle"></i> Create User</a>
                <a href = '{% route_url user_list  %}' class = 'btn btn-sm btn-secondary'><i class="fa fa-users"></i> User List</a>
            </p>
            <div class="row">
                <div class="col-md-7">
                    <div class= "table-responsive">
                        <table class = "detail table table-sm table-bordered">
                            <tr>
                                <td>ID</td>
                                <td><b>{{ user.id }}</b></td>
                             </tr>
                             <tr>
                                <td>Login</td>
                                <td><b>{{ user.username }}</b></td>
                             </tr>
                             <tr>
                                <td>Lastname</td>
                                <td><b>{{ user.lastname }}</b></td>
                             </tr>
                             <tr>
                                <td>Firstname</td>
                                <td><b>{{ user.firstname }}</b></td>
                             </tr>
                             <tr>
                                <td>E-mail</td>
                                <td><b>{{ user.email }}</b></td>
                             </tr>
                             <tr>
                                <td>Role</td>
                                <td><b>{{ user.role }}</b></td>
                             </tr>
                             <tr>
                                <td>Status</td>
                                <td><b>{% if user.status == 1 %}Enable{% else %}Disable{% endif %}</b></td>
                             </tr>
                             <tr>
                                <td>Create at</td>
                                <td><b>{{ user.created_at|date:"d/m/Y H:i:s" }}</b></td>
                             </tr>
                             <tr>
                                <td>Update at</td>
                                <td><b>{{ user.updated_at|date:"d/m/Y H:i:s" }}</b></td>
                             </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-5">
                    <h5 style="text-transform: uppercase;">User Roles</h5>
                    {% if user.roles.size > 0 %}
                        <ul class="list-group">
                            {% for role in user.roles %}
                                <li class = "list-group-item">&nbsp;&nbsp; {{ role.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="alert alert-info">No available roles</p>
                    {% endif %}
                    <br />
                    <div>
                        <a href = '{% route_url user_edit id:user.id  %}?from_detail=1' class = 'btn btn-sm btn-info'><i class="fa fa-edit"></i> Edit</a>
                        <a href = '{% route_url user_list  %}' class = 'btn btn-sm btn-secondary'><i class="fa fa-users"></i> User List</a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}