{% extends "main" %}
{% block body %}
    <div class="card mb-4">
    <div class="card-header bg-white font-weight-bold page-header">
        User List
    </div>
    <div class="card-body">
   
    {% if users.size > 0 %}
        <div class= "table-responsive">
            <table class="table table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Age</th>
                        <th>Status</th>
                        <th>Create Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.user_id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.lname }}</td>
                            <td>{{ user.fname }}</td>
                            <td>{{ user.age }}</td>
                            <td>{% if user.status == 1 %}Enable{% else %}Disable{% endif %}</td>
                            <td>{{ user.created_at|date:"d/m/Y" }}</td>
                            <td class="actions">
                                <a href = '{% route_url user_edit id:user.user_id  %}' class = 'btn btn-icon btn-sm btn-pill btn-primary'><i class="fa fa-fw fa-edit"></i></a>
                                <a href = '{% route_url user_delete id:user.user_id  %}' class = 'btn btn-icon btn-sm btn-pill btn-danger'><i class="fa fa-fw fa-trash"></i></a>
                                <a href = '{% route_url user_detail id:user.user_id  %}' class = 'btn btn-icon btn-sm btn-pill btn-secondary'><i class="fa fa-fw fa-eye"></i></a>
                            </td>
                        </tr>
                     {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Age</th>
                        <th>Status</th>
                        <th>Create Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
        {% else %}
            <p class="alert alert-info">No available data to show</p>
        {% endif %}
    </div>
</div>
{% endblock %}