{% extends "main" %}
{% block title %}
    <title>Authentication</title>
{% endblock %}

{% block navbar %}
    <!-- empty -->
{% endblock %}

{% block menu %}
    <!-- empty -->
{% endblock %}

{% block flash %}
<!-- empty -->
{% endblock %}

{% block body %}
    <div class="container h-100">
    <br />
    <br />
    <br />
    <p class="alert alert-success"><i class="fa fa-check-circle"></i> {% flash success %}</p>
    <p class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> {% flash warning %}</p>
    <p class="alert alert-danger"><i class="fa fa-times-circle"></i> {% flash error %}</p>
    <p class="alert alert-info"><i class="fa fa-info-circle"></i> {% flash info %}</p>
            
    <div class="row h-50 justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-white font-weight-bold">
                    Authentication
                </div>
                <div class="card-body">
                    <form action = '' method='post' class="form-horizonta">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type= 'text' name = 'username' value = '{{ param.username }}' placeholder = "Username ..." class = "form-control" />
                            <span class="ferror">{{ errors.username }}</span>
                        </div>
                         <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input type= 'password' name = 'password' value = '' placeholder = "Password ..." class = "form-control" />
                            <span class="ferror">{{ errors.password }}</span>
                        </div>
                        <div class="row">
                            <div class="col pr-2">
                                <button type="submit" class="btn btn-block btn-primary">Connection</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %} <!-- endblock body -->
</div> <!-- ./container -->
{% block footer %}
    <!-- empty -->
{% endblock %}
